NEXT_PRIVATE_RPC_URL="GET_FROM_COINBASE_DEVELOPER_PLATFORM" # See https://www.coinbase.com/developer-platform/products/base-node?utm_source=boat
NEXT_PRIVATE_PAYMASTER_URL="GET_FROM_COINBASE_DEVELOPER_PLATFORM" # See https://www.coinbase.com/developer-platform/products/base-node?utm_source=boat
NEXT_PUBLIC_PRIVY_ID="GET_FROM_PRIVY"
NEXT_PRIVATE_PRIVY_SECRET="GET_FROM_PRIVY"

ENVIRONMENT=localhost
GITHUB_TOKEN=ghp_SOMETHING_HERE

NEXT_PUBLIC_ONCHAIN_API_KEY="GET_FROM_COINBASE_DEVELOPER_PLATFORM"

NEXT_PUBLIC_SUPABASE_URL=GET_FROM_SUPABASE
NEXT_PUBLIC_SUPABASE_ANON_KEY=GET_FROM_SUPABASE
SUPABASE_PROJECT_ID=GET_FROM_SUPABASE

NEXT_PUBLIC_OSSUMMER_BASE_CONTRACT_ADDRESS="DEPLOYED_CONTRACT_ADDRESS"
NEXT_PUBLIC_OSSUMMER_BASE_SEPOLIA_CONTRACT_ADDRESS="DEPLOYED_CONTRACT_ADDRESS"
NEXT_PRIVATE_NEYNAR_API_KEY="NEYNAR_ONCHAIN_KIT"